[submodule "lib/pico-servo"]
	path = lib/pico-servo
	url = https://github.com/irishpatrick/pico-servo.git
[submodule "lib/Pico-Ultrasonic"]
	path = lib/Pico-Ultrasonic
	url = https://github.com/Thomas-Kleist/Pico-Ultrasonic.git
